<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChronoDeck Login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/font.css">
    <!-- <link rel="stylesheet" href="../../static/css/register.css"> -->
</head>

<body class="body">
    <div class="container flex__center--center intel-one-mono">
        <h1 class="bungee-shade form__heading">Login</h1>
        <div class="register__form--container glass-card justify-content-center align-items-center">
            <form action="/login" method="post">
                <div class="row p-3 text-white">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">UserName Or Phone Or Email:</label>
                            <input type="text" class="form-control input" name="username">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Password:</label>
                            <input type="password" class="form-control input" name="password">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                        <label class="form-label">Submit Login:</label>

                            </div>
                            <div class="col-6">
                        <label class="form-label text-danger"><%=msg%></label>

                            </div>
                        </div>
                        <div class="row btn__outline--container">
                            <div class="my-2 col-6">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-dark btn-outline"
                                        style="color: rgb(255, 83, 83);" type="reset">Reset</button>
                                </div>
                            </div>
                            <div class="my-2 col-6">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-dark btn-outline"
                                        style="color: rgb(65, 169, 75);">Submit</button>
                                    

                                </div>
                            </div>
                            <label class="form-label mt-2"><a href="/register" class="text-white">Don't have an
                                            account register</a></label>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
    <img src="/images/register/background.jpeg" alt="" class="background__image">
</body>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</html>