.body {
    background-color: rgb(0, 0, 0);
}

.hero__section {
    width: 100%;
    position: relative;
}

.hero__section video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero__brand-name{
    text-decoration: none;
    font-size: 200px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-shadow:
        /* Outline for 1px: four shadows offset by 1px */
        -2px -2px 0 #ff0000,
        /* Top-Left */
        2px -2px 0 #ff0000,
        /* Top-Right */
        -2px 2px 0 #ff0000,
        /* Bottom-Left */
        2px 2px 0 #ff0000;
}

.video__overlay {
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 8;

}

.video__overlay:hover .hero__brand-name{
    color: black;
}
.about__section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.542) 90%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about__section h1 {
    font-size: 50px;
    padding: 10%;
    font-weight: 900;
    letter-spacing: -1;
    color: rgb(0, 0, 42);
}

.about__background-image--container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    /* background: linear-gradient(to bottom,transparent 10%,black 20%); */
}

.about__background-image {
    width: 100%;
    z-index: -2;
    height: 100vh;
}

.brand__name{
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-shadow:
        /* Outline for 1px: four shadows offset by 1px */
        -1px -1px 0 #ff0000,
        /* Top-Left */
        1px -1px 0 #ff0000,
        /* Top-Right */
        -1px 1px 0 #ff0000,
        /* Bottom-Left */
        1px 1px 0 #ff0000;
    /* Bottom-Right */


}

.brand__name:hover {
    color: black;
}
.white__border{
    border: 4px solid white;
    border-radius: 10px;
}
.background__image--1{
    background: url('/images/about/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}
.background__image--2{
    background: url('/images/about/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}
.background__image--3{
    background: url('/images/about/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}
.background__image--4{
    background: url('/images/about/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}
.background__image--5{
    background: url('/images/about/5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}
.background__fade{
    background: radial-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.421));
}
@media(max-width:600px) {
    .about__section {
        height: 100vh;
        flex-direction: column;
    }

    .about__section h1 {
        font-size: 20px;
        padding: 4%;
    }
    .hero__brand-name{
        font-size: 60px;
    }
    .background__fade h1{
        font-size: 16px;
    }
    .background__fade p{
        font-size: 16px;
        letter-spacing: -1px;
    }
}