/* *{
    margin: 0px;
    box-sizing: border-box;
} */
 body{
    background-color: rgb(131, 78, 12);
 }
 #game{
    background-image:url('/images/air/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
 }
 #shooter{
    width:170px;
    position: absolute;
    top: 83%;
    left: 45%;
 }