@font-face {
    font-family: 'Bungee Shade';
    src: url('/fonts/Bungee_Shade/BungeeShade-Regular.ttf');
}
@font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/Intel_One_Mono/static/IntelOneMono-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Staatliches';
  src: url('/fonts/Staatliches/Staatliches-Regular.ttf');
}

.bungee-shade{
  font-family: "Bungee Shade", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.roboto-condensed{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.intel-one-mono{
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.staatliches{
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}
