.body{
    margin: 0 ;
    padding: 0;
    overflow-x: hidden;
}
.hero__section{
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 43, 78, 0);
    /* background-color: rgb(43, 43, 78); */
    position: relative;
}
.hero__section video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.video__overlay {
    background-color: rgba(0, 0, 0, 0.874);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;

}
.hero__slide{
    width: 100%;
    height: 65vh;
    /* border: 2px solid salmon; */
}
.hero__slide .row {
    display: flex !important; /* Forces Flexbox layout */
    height: 100%; /* Ensures the row takes up the full slide height */
    align-items: stretch; /* Ensures columns stretch to max height */
}
.slide__image--container{
    width: 100%;
    height: 65vh;

}
.slide__image--container img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    
}
.brand__name{
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-shadow:
        /* Outline for 1px: four shadows offset by 1px */
        -1px -1px 0 #ff0000,
        /* Top-Left */
        1px -1px 0 #ff0000,
        /* Top-Right */
        -1px 1px 0 #ff0000,
        /* Bottom-Left */
        1px 1px 0 #ff0000;
    /* Bottom-Right */

        
}

.brand__name:hover {
    color: black;
}
.align__sale--items{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.explore__more{
    text-decoration: none;
}
.explore__more:hover h1{
    color: #ffc107 !important;
}
.glass-card {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.164);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(0.9px);
border: 1px solid rgba(255, 255, 255, 0.47);
}

