<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/font.css">
</head>

<body class="body">
    <%-include('../navbar')%>
    <%-include('../audio')%>

        <section class="hero__section">
            <video loop autoplay muted>
                <source src="/video/about/background.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="video__overlay d-flex align-items-center justify-content-center">
                <h1 class="hero__brand-name">ChronoDeck</h1>
            </div>
        </section>
        
        <section class="features__section row p-5 text-white">
            <div class="col-12">
                <div class="background__fade">
                    <h1 class="bungee-shade text-center text-secondary">&ltfeatures section></h1>
                </div>
            </div>
            <div class="col-md-6 col-12 offset-0 offset-md-6 my-5 white__border p-md-5 p-2 background__image--1" data-aos="fade-right">
                <div class="background__fade">
                    <h1 class="bungee-shade">The Deck System</h1>
                    <p class="roboto-condensed">
                        A superior organization layer that curates your game library into thematic, manageable Decks
                        (collections) rather than disorganized lists. This simplifies discovery and allows players to
                        browse games based on genre evolution and specific mood.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-12 my-5 white__border p-md-5 p-2 background__image--2" data-aos="fade-left">
                <div class="background__fade">
                    <h1 class="bungee-shade">The Time Vault</h1>
                    <p class="roboto-condensed">
                        A dedicated, perpetually optimized archive for classic and historically significant PC games.
                        This ensures legacy titles are always stable and playable on modern hardware, free from
                        compatibility issues
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-12 offset-0 offset-md-6 my-5 white__border p-md-5 p-2 background__image--3" data-aos="fade-right">
                <div class="background__fade">
                    <h1 class="bungee-shade">Optimized Performance Profiles:</h1>
                    <p class="roboto-condensed">
                        Optimized Performance Profiles: Automatic, hardware-specific optimization for every game
                        launched.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-12 my-5 white__border p-md-5 p-2 background__image--4" data-aos="fade-left">
                <div class="background__fade">
                    <h1 class="bungee-shade">The Quantum Loop</h1>
                    <p class="roboto-condensed">
                        The Quantum Loop: The window to the future of PC gaming.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-12 offset-0 offset-md-6 my-5 white__border p-md-5 p-2 background__image--5" data-aos="fade-right">
                <div class="background__fade">
                    <h1 class="bungee-shade">High Fidelity Rendering:</h1>
                    <p class="roboto-condensed">
                        Provides user the visual experience of classic games for modern, high-resolution monitors.
                    </p>
                </div>
            </div>
        </section>
        <section class="about__section">
            <h1 class="bungee-shade text-center text-info" style="font-size: 50px;">About Us</h1>
            <h1 class="roboto-condensed text-white text-justified" style="text-align: justify;">
                <span class="brand__name" style="font-size: 50px;">ChronoDeck</span> is a cutting-edge digital platform specifically designed for PC gaming. Its name,
                "<span class="brand__name" style="font-size: 50px;">ChronoDeck</span>," implies a mastery or unique approach to time within the gaming experience, or perhaps a
                vast, curated "deck" of games spanning different eras and genres, presented in a structured or thematic
                way.
            </h1>
            <div class="about__background-image--container">
                <img src="/images/about/background.jpg" alt="" class="about__background-image">
            </div>
        </section>
        <%-include('../footer')%>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
</body>

</html>