<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChronoDeck Home</title>
    <link rel="stylesheet" type="text/css" href="slick/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/font.css">
</head>

<body class="body">
    <%-include('../navbar')%>
        <div class="hero__section">
            <div class="row">
                <div class="col-12 mt-4">
                    <h1 class="bungee-shade text-center text-danger">Featured</h1>
                </div>
                <div class="col-8 offset-2">
                    <div class="hero__slide">
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/1.jpg" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">Grand Theft Auto</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><i class="bi bi-currency-rupee"></i><span
                                            class="text-success">5,999</span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/2.jpg" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">Outlast</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><span
                                            class="text-success">free to play</span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/3.jpg" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">offworld</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><span
                                            class="text-success">free to play</span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/4.jpg" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">legend</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><i class="bi bi-currency-rupee"></i><span
                                            class="text-success">999</span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/5.png" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">battlefield: 1</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><i class="bi bi-currency-rupee"></i><span
                                            class="text-success">499</span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/6.png" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">Ghost of tsushima</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><i class="bi bi-currency-rupee"></i><span
                                            class="text-success">5,999</span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/7.jpg" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">God of war</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><i class="bi bi-currency-rupee"></i><span
                                            class="text-success">2,999</span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="slide__image--container"><img src="/images/home/8.jpg" alt=""></div>
                            </div>
                            <div class="col-4 align__sale--items">
                                <div class="py-5">
                                    <h1 class="brand__name text-center" style="font-size: 30px;">Resident Evil 4</h1>
                                    <h1 class="roboto-condensed text-white">NOW AVAILABLE</h1>
                                    <h1 class="roboto-condensed text-white"><i class="bi bi-currency-rupee"></i><span
                                            class="text-success">1,599</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="my-5">
                        <a href="" class="explore__more"><h1 class="bungee-shade text-center text-success">Explore more games ></h1></a>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../footer')%>
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="slick/slick/slick.min.js"></script>
            <script>

                $(document).ready(function () {
                    $('.hero__slide').slick({
                        dots: false,
                        arrows: false,
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 1200,
                    });
                });
            </script>
</body>

</html>